/*Overlay-Design */
.p-Tag {
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.overlay-no-result{
    position: fixed;
    top: 0;
    left: 0;
    /*margin-left: 100px;*/
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8; /*test*/
    z-index: 1;
}
.no-result-position{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(41, 54, 71);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlay-content-render-edit {
    padding: 40px 48px;
}

.overlay-position {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding: 48px 40px;
    max-height: 913px;
    overflow-y: auto;
    overflow-x: hidden;
}

.overlay-position::-webkit-scrollbar {
    display: none;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-type>p {
    padding: 4px 24px;
    font-size: 23px;
    font-weight: 400;
}

.close-icon>img {
    height: 24px;
    width: 24px;
}

.close-icon:hover {
    cursor: pointer;
    background-color: rgb(202, 199, 199);
    /*Nicht aus Figma*/
    border-radius: 50%;
}

.overlay-titel>h1 {
    font-size: 60px;
    color: #000000;
    text-align: start;
    padding: unset;
}

.overlay-titel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
}

.overlay-description-flex {
    display: flex;
    gap: 25px;
}

.overlay-priority {
    height: 24px;
    width: 139px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.overlay-priority>img {
    height: 6.33px;
    width: 17px;
}

.assigned-to {
    width: 445px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.overlay-peoples {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 280px;
}

.peoples-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
    padding: 7px 16px;
}

.initials {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials p {
    color: white;
    font-size: 12px;
}

.people-name>p {
    white-space: nowrap;
    height: 23px;
    display: flex;
    flex-direction: row;
}

.subtask-info {
    height: 32px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
}

.subtask-info:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #D1D1D1;
}

.overlay-subtasks {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.overlay-checkbox {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-edit-wrapper {
    height: 24px;
    display: flex;
    flex-direction: row-reverse;
}

.overlay-edit {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.overlay-edit-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.trashImg p,
.editImg p {
    font-size: 16px;
}

.trashImg,
.editImg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
    transform-origin: right center;
    gap: 8px;
}

.trashImg:hover,
.editImg:hover {
    transform: scaleX(1.05);
}

.trashImg:hover p,
.trashImg:hover img,
.editImg:hover p,
.editImg:hover img {
    color: #2AABE2;
    filter: brightness(0) saturate(100%) invert(56%) sepia(94%) saturate(749%) hue-rotate(161deg) brightness(97%) contrast(92%);
}

.overlay-seperator {
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
}

.transform-left {
    transform-origin: right top;
}

.transform-bottom {
    transform-origin: right bottom;
}

/*Board style*/
.header-position {
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;

}

.header-space {
    height: 79.5px;
    width: 100%;
}

.board-header {
    height: 73px;
    width: 87%;


}

.board-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-header-content>h1 {
    padding: 0;
}

.board-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.search-form-board{
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    z-index: 100;
}

.addTaskBtn {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 160px;
    height: 48px;
    transition: all 0.2s;
}

.addTaskBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

.addTaskBtn>img {
    height: 18.67px;
    width: 18.67px;
}

.text-allign {
    text-align: start;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.padding-priority {
    padding-left: 18px;
}

.input-find-Task {
    max-width: 312px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D1D1D1;
    position: relative;
   
    
}

.no-padding-input{
    padding-right: 0 !important;
    padding-left: 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.input-find-Task>input {
    font-size: 20px;
    border: #FFFFFF;
    height: 48px;
    width: 366px;
    border-radius: 10px;
    padding-left: 16px ;
    
}

.search-icon {
    height: 32px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    border-left: 1px solid #D1D1D1;
    padding-left: 16px;
}

.search-icon img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    background-color: #EEEEEE;
    border-radius: 50%;
}

.categorys {
    height: 79.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.categorys-wrapper {
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    padding-left: 50px;
    padding-right: 50px;

}

.category-content-responsive {
    display: none !important;
}

.category-content-responsive,
.category-content {
    height: 100%;
    width: 244px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-content-img {
    height: 24px;
    width: 24px;
    background-image: url(/assets/img/icon/plus\ button.png);
    background-position: center;
}

.category-content-img:hover {
    cursor: pointer;
    background-image: url(/assets/img/icon/output-onlinepngtools.png);
    background-position: center;
}

.category-content>h4 {
    margin: 0;
}

.board-position {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    padding: 0 50px 32px 50px;
}

.drag-area {
    min-height: 71vh;
    height: auto;
    width: 252px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 100px;

}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px dashed #000000;
    width: 252px;
    height: 250px;
}

.empty-task-box {
    height: 48px;
    width: 252px;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-task-text {
    font-size: 16px;
    font-weight: 400;
}

.task-body {
    height: 263px;
    width: 252px;
    border-radius: 24px;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.task-body:hover {
    cursor: pointer;
}

.board-task-container {
    width: 252px;
    cursor: pointer;
}

.board-tasks {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 16px;
    width: 252px;
    gap: 24px;
    align-items: flex-start;
}

.board-tasks-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.move-to {
    height: 24px;
    width: 26px;
    display: none;
}

.board-task-assigned-priority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 32px;
}

.category-user-story {
    background-color: #0138ff;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    display: inline-block;
    font-size: 16px;
}

.category-technical-task {
    background-color: #20d7c0;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    display: inline-block;
    font-size: 16px;
}

.board-task-description {
    color: #A8A8A8;
    max-width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-word;
}

.board-task-title {
    color: #2A3647;
    font-weight: 700;
    word-break: break-word;
}

.board-task-assigned-contact {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    flex-wrap: wrap;
}

.board-contact-name {
    height: 32px;
    width: 32px;
    border: white solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: -8px;
    position: relative;
    color: white;
    font-size: 12px;
}

.board-tasks-title-description {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board-task-subtasks {
    width: 100%;
}

.board-task-subtasks-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.progress-bar-container {
    flex: 1;
    height: 8px;
    background: #F4F4F4;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #4489ff;
    border-radius: 4px;
}

.progress-bar-text {
    color: black;
    font-size: 12px;
    white-space: nowrap;
}

.edittask {
    padding: 0;
    width: unset;
    max-width: 440px;
}

.overlay-content-render form {
    display: flex;
    flex-direction: column;
    width: calc(100% + 27px);
    gap: 32px;
    max-height: 725px;
    height: 100%;
    overflow-y: scroll;
    margin-top: 16px;
}

.input-icon-edit {
    position: absolute;
    right: 8px;
    cursor: pointer;
    bottom: 4px;
}

#edit-date {
    font-size: 20px;
    cursor: pointer;
    width: unset;
}

.date-input-edit {
    gap: 0;
}

.date-icon-edit {
    position: absolute;
    right: 16px;
    bottom: 22px;
    z-index: 10;
}

#edit-urgent,
#edit-medium,
#edit-low {
    box-shadow: 0px 0px 4px 0px #0000001A;

}

#edit-urgent:hover,
#edit-medium:hover,
#edit-low:hover {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.priority-edit {
    max-width: 440px;
}

.priority-edit span {
    text-align: start;
    font-size: 20px;
}

.create-clear-buttons-edit {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.overlay-section {
    padding: 48px 40px;
    max-height: 931px;
    height: 100%;
    max-width: 525px;
    width: 100%;
}

.subtask-edit {
    margin: 0;
}

.overlay-add-task {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-overlay-content {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.10);
    min-width: 1116px;
    min-height: 870px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
}

.add-task-overlay-content.show {
    transform: translateX(0);
    opacity: 1;
}

.add-task-overlay-content.hide {
    transform: translateX(100vw);
    opacity: 0;
}

.close-overlay-x {
    position: absolute;
    top: 65px;
    right: 40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
}

.content-add-task {
    bottom: 36px;
    right: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(84, 94, 97, 0);
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

.overlay.visible {
    background-color: rgba(84, 94, 97, 0.375);
}


.overlay-content-flex {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content-render {
    width: 525px;
    background-color: #FFFFFF;
    border-radius: 30px;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
}

.overlay-content-render.show {
    transform: translateX(0);
    opacity: 1;
}

.overlay-content-render.hide {
    transform: translateX(100vw);
    opacity: 0;
}

.overlay-header-edit {
    display: flex;
    justify-content: flex-end;
}

.dragging {
    opacity: 0.5;
}

/*Todo*/
.task-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

}

.option {
    text-align: start;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.selection {
    position: absolute;
    top: 132px;
    left: 40px;
    border-radius: 5px;
    width: 150px;
    background-color: #2A3647;
    color: #FFFFFF;
    display: none;

}

.selection:hover {
    cursor: pointer;
}

.option:hover {
    cursor: pointer;
    background-color: #4f688c;
    border-radius: 5px;

}

.moveTo {
    height: 24px;
    width: 24px;
    display: none;
}

.moveTo:hover {
    cursor: pointer;
}

.no-contacts {
    text-align: start;
    font-size: 18px;
    padding-left: 8px;
}

.subtask-edit-container,
.input-textarea-edit {
    position: relative;
}

#edit-date {
    padding: 12px 16px;
}

.priority-buttons-edit {
    margin: unset !important;
}

.board-task-subtasks-row {
    position: relative;
}

.subtask-tooltip {
    position: absolute;
    top: -35px;
    left: 0;
    background: #2A3647;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    /* verhindert Klicks, wenn unsichtbar */
    transition: opacity 0.3s, transform 0.3s;
}

.board-task-subtasks-row:hover .subtask-tooltip {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.rotateTask:active {
    transform: rotate(5deg);
    transition: 0.5s;
}

@media (max-width: 1439px) {
    .main-content {
        top: 80px !important;
    }


    .overlay-content-render form {
        width: 100%;
    }

    .overlay-content-render form::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
    }

    .moveTo {
        display: block;
        cursor: pointer;
    }

    .selection {
        display: block;
    }

    .overlay-titel>h1 {
        padding-top: 30px;
    }

}

@media (max-width: 1233px) {
    .header-space {
        display: none;
    }

    .board-header-content {
        position: relative;
    }

    .board-header-content>h1 {
        font-size: 47px;
    }

    .input-find-Task {
        position: absolute;
        top: 100px;
        left: 0;
        max-width: 396px;
        width: 100%;
    }

    .categorys-wrapper {
        flex-direction: column;
        padding: 0 0 0 16px;
    }

    .drag-area {
        flex-direction: row;
        align-items: center;

    }

    .board-position {
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        padding: 0;
    }

    .categorys {
        display: none;
    }

    .category-content-responsive {
        display: flex !important;
        height: unset;
        align-items: center;
        width: 100%;
    }

    .category-content-responsive>h4 {
        font-size: 27px;
        font-weight: 700;
    }

    .drag-area {
        min-height: unset;
        width: 100%;
        overflow: auto;

        padding: 16px 0;
    }

    /*Muss evtl. rückgängig gemacht werden*/
    .drag-area::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    .header-position {
        padding-top: calc(128px - 80px)
    }

    .board-header {
        width: 100%;
    }

    .addTaskBtn span {
        display: none;
    }

    .addTaskBtn {
        width: 40px;
        height: 40px;
    }

    .board {
        overflow: auto;
        max-height: calc(100vh - 208px);
    }

    .no-result {
        height: 80px;
        width: 100px;
        border-radius: 5px;
        z-index: 10;
    }

    .priority-img {
        height: 7px;
        width: 17px;
    }
}

@media (max-width: 1008px) {
    .board {
        margin-top: 80px
    }
}

@media(max-width: 550px) {
    .overlay-content-render {
        width: 95%;
    }
}

@media(max-width: 470px) {
    .overlay-position {
        gap: 16px;
    }

    .overlay-titel>h1 {
        font-size: 36px;
        padding-top: 12px;
    }

    .task-type>p {
        font-size: 16px;
    }

    .p-Tag {
        font-size: 16px;
    }

    .selection {
        top: 114.8px;
    }
}

@media (max-height: 950px) {
    .overlay-content-render form {
        max-height: 600px;
    }
    .overlay-section {
        padding: 12px 40px;
    }
}

@media (max-height: 815px) {
    .overlay-content-render form {
        max-height: 500px;
    }
}

@media (max-height: 720px) {
    .overlay-content-render form {
        max-height: 400px;
    }
}

@media (max-height: 610px) {
    .overlay-content-render form {
        max-height: 300px;
    }
}

@media (max-height: 550px) {
    .overlay-position {
       padding: 24px;
    }
}

@media (max-height: 515px) {
    .overlay-content-render form {
        max-height: 200px;
    }
        .overlay-position {
            
        }
}

@media (max-height: 415px) {
    .overlay-content-render form {
        max-height: 100px;
    }
}

@media (max-width: 400px) {
    .overlay-section {
        padding: 16px;
    }
}