.guest-btn {
    background-color: white;
    color: rgb(41, 54, 71);
    border: 1px solid rgb(41, 54, 71);
}

.guest-btn:hover {
    background-color: white;
    border: #29abe2 solid 1px;
    color: #29abe2;
}

button {
    background-color: rgb(41, 54, 71);
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 48px;
}

button:hover {
    background-color: #2AABE2;
}

.create-button:hover,
.ok-button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: #2AABE2;
    transform: translateY(1px);
}

.clear-button:hover,
.cancel-button:hover {
    border: solid 1px #29abe2;
    background-color: white;
    color: #29abe2;
    transform: translateY(1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.addTaskBtn:hover,
.guest-btn:hover,
.sign-up-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

.addTaskBtn {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 160px;
    height: 48px;
}

.login-btn,
.addTaskBtn,
.guest-btn,
.sign-up-button,
.cancel-button {
    transition: all 0.2s;
}

.login-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

/*add task*/
.create-button,
.clear-button,
.cancel-button,
.ok-button {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 1;
    padding: 16px;
    width: 183px;
    height: 56px;
    justify-content: space-between;
    transition: all 0.1s;
}

.clear-button:hover .clear-icon {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
    transition: filter 0.1s;
}

.ok-button,
.cancel-button {
    width: unset;
}

.create-button {
    font-size: 21px;
}

.clear-button {
    width: 110px;
}

.create-button img,
.clear-button img,
.cancel-button img {
    height: 24px;
    width: 24px;
}

.clear-button,
.cancel-button {
    background-color: white;
    color: rgb(41, 54, 71);
    font-weight: normal;
    border: 1px solid rgb(41, 54, 71);
}

.create-clear-buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    gap: 16px;
    left: 763px;
    top: 793px;
    z-index: 100;
    background-color: #F6F7F8;
}

/*bord*/
.create-clear-buttons-edit {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.cancel-button:hover .cancel-icon {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
    transition: filter 0.1s;
}

/* contacts */
.addNewContactButton {
    height: 52px;
    width: 352px;
    transition: transform 0.2s;
}

.addNewContactButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 21px;
}

.backgroundNewContactButton {
    height: 101px;
    position: fixed;
    top: 95px;
    left: 232px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(400px - 352px);
    padding-right: 43px;
}

.clear-button {
    background-color: #ffffff;
    color: #293647;
    border: solid 1px #293647;
    font-weight: 400;
    transition: border 0.1s, color 0.1s, transform 0.1s;
}

.clear-button:hover .save-close {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
    transition: filter 0.1s;
}

.create-button,
.clear-button {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 56px;
    align-items: center;
}

.create-button {
    font-weight: 700;
    font-size: 21px;
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.create-contact-btn {
    width: 214px;
}

.accept {
    width: 249px;
    display: flex;
    justify-content: start;
    gap: 25px;
    margin-top: 50px;
}

.accept-addContact {
    width: 364px;
    display: flex;
    justify-content: start;
    gap: 25px;
    margin-top: 52px;
}


.saveBtn {
    height: 51px;
    width: 111px;
    background-color: #293647;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}