@media(max-width: 1439px){
    .successfully-Overlay{
        transform: translateY(100vh);
        margin-bottom: 250px;
    }
    .successfully-Overlay.slide-in{
        transform: translateY(0);
    }
    .successfully-Overlay.slide-out{
        transform: translateY(100vh);
    }
}

@media(max-height: 670px){
    .newContactOverlay{
        height: 630px;

    }
    .editDiv-addContact{
        height: 300px;
        
    }
    .profileImg-addContacts{
        height: 80px;
        width: 80px;
    }
    .profileInitials-addContacts{
        width: auto;
        padding-top: 20px;
    }
    .accept-addContact{
        margin-top: 10px;
    }
    .profilDiv-addContacts{
        padding-top: 20px;
    }
}
