.myMain {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 14.8rem;
}

.main-content {
    display: flex;
    overflow: hidden;
}

/* Contact List side */
.contactList {
    overflow-y: scroll;
    width: 456px;
    height: 100%;
    background-color: #ffffff;
    padding: 0px 12px 32px 24px;
    box-shadow: 4px 0px 6px 0px #00000014;
    position: relative;
}

.addNewContactButton {
    height: 52px;
    max-width: 352px;
    width: 100%;
    transition: transform 0.2s;
}

.addNewContactButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

.closeMobile,
.editContactBtnMobile,
.contactHeadlineMobile,
.addNewContactButtonMobile {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 21px;
}

.newContact {
    height: 28px;
}

.contact-name {
    font-size: 20px;
}

.backgroundNewContactButton {
    width: 450px;
    height: 101px;
    position: fixed;
    top: 95px;
    left: 232px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    padding: 15px 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    align-items: center;
    gap: 35px;
    max-width: 352px;
    width: 100%;
}

.person:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.person.active {
    background-color: #293647;
    color: #ffffff;
}

.person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    text-align: start;
}

.initial {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF
}

.mail {
    color: #007CEE;
    text-align: start;
}

.phonenumber {
    color: black;
}

.mail:hover,
.phonenumber:hover {
    font-weight: 400;
}

.mail:hover {
    color: #007CEE;
}

.details {
    background-color: #f6f7f8;
}

.phonenumber:hover {
    color: unset !important;
}

.contactHeadline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    margin-left: 60px;
    padding-bottom: 32px;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}

.separatingLine {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

.namesDetails {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 21px;
}

.contactInformations {
    display: flex;
    align-items: center;
    /* gap: 52px; */
}

.contact-Information {
    text-align: start;
    height: 74px;
    display: flex;
    align-items: center;
}

.initialOverlay {
    width: 120px;
    height: 120px;
    align-content: center;
    border-radius: 70px;
    color: white;
    font-size: 47px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000005E;
    /*margin-right: 40px;*/
}

.infoNames {
    font-size: 2.5rem;
}

.contactIcons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

#contactContent {
    padding: 101px 24px 0 24px;
}

.edit {
    display: flex;
}

#editOverlay,
#deleteOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.editIcon {
    height: 1.5rem;
    cursor: pointer;
}

.editText {
    color: #2A3647;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
}

.infoBlock-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    margin-bottom: 2rem;
}

h4 {
    text-align: start;
}

/* edit, and add new Contact Overlay */
.newContactOverlay,
.editContactOverlay {
    height: 592px;
    width: 1212px;
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    z-index: 1000;
    display: flex;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.headDiv {
    height: 100%;
    width: 467px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #293647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 35px;
    /*padding: 66px 48px;*/
}

.headDiv-wrapper{
    /*test*/
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    
}

 .headDiv-wrapper-newContact{
        bottom: 0;
        padding-top: 24px;
        width: 371px;
        display: flex;
        flex-direction: column; 
        gap: 20px;   
    }

.contactLogo-wrapper{
    width: 361px;
    height: auto;
}

.contactLogo {
    height: 67px;
    width: 54px;
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 152px;
    left: 48px;
}

.add-contact {
    font-size: 61px;
    font-weight: bold;
    color: #ffffff;
}

.headline-wrapper{
    width: 361px;
    height: 89px;
}
.add-headline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.addTastText {
    font-size: 27px;
    color: #ffffff;
}

.line {
    height: .2rem;
    width: 7rem;
    background-color: #29abe2;
    margin: 16px 0 0 0;
}

.editDiv {
    height: 100%;
    /*width: 49rem;*/
    width: calc(1212px - 453px);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
    /*display: flex;*/
}

.editDiv-addContact {
    height: 100%;
    /*width: 49rem;*/
    width: calc(1212px - 453px);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
    /*display: flex;*/
}

/*.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.closeDiv {
    display: flex;
    justify-content: end;
    margin-bottom: 48px ;
}

.close {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.close-wrapper{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-wrapper:hover{
    background-color: #857f7f56;
    border-radius: 50%;
}

.profilDiv {
    width: 422px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 62px;
    left: calc(742px - 453px);
}

.profilDiv-addContacts {
    width: 422px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 70px;
    left: calc(742px - 467px);
}

.profileInitials {
    height: 120px;
    width: 120px;
    display: flex;
    /*padding: 0 83px 0 72px;*/
    position: relative;
    top: 204px;
    left: calc(550px - 453px)
    /*bottom: 32px;*/
}

.profileInitials-addContacts {
    height: 130px;
    width: 130px;
    display: flex;
    /*padding: 0 83px 0 72px;*/
    position: relative;
    top: 204px;
    left: calc(550px - 467px)
    /*bottom: 32px;*/
}

.addNewContactDiv {
    padding: 0px 21px;
    border: solid;
    border-width: 0.06rem;
    border-color: #d1d1d1;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.add-new-contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.addNewContact {
    border: 0;
    width: 20rem;
    height: 3rem;
    cursor: pointer;
    font-size: 20px;
}

.addNewContact:focus {
    outline: 2px solid #29abe2;
    border-color: #29abe2;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContactIcon {
    height: 24px;
    width: 24px;
}

.clear-button {
    background-color: #ffffff;
    color: #293647;
    border: solid 1px #293647;
    font-weight: 400;
    transition: border 0.1s, color 0.1s, transform 0.1s;
}

.clear-button:hover .save-close {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
    transition: filter 0.1s;
}

.create-button,
.clear-button {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 56px;
    display: flex;
    align-items: center;
}

.create-button {
    font-weight: 700;
    font-size: 21px;
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.accept {
    width: 249px;
    display: flex;
    justify-content: start;
    gap: 25px;
    margin-top: 20px;
}

.accept-addContact {
    width: 364px;
    display: flex;
    justify-content: start;
    gap: 25px;
    margin-top: 52px;
}


.save-close {
    width: 1.5rem;
    height: 1.5rem;
}

.agenda {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.agenda-category {
    text-align: start;
    padding: 17px 36px;
}

.agenda-line {
    max-width: 352px;
    width: 100%;
    border: 1px solid #D1D1D1;
    margin: 8px 0;
}

.edit-contact-overlay-section,
.add-new-contact-section {
    background-color: #00000059;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg {
    height: 120px;
    width: 120px;
}

.profileImg-addContacts {
    height: 130px;
    width: 130px;
}

#contactDetails {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(100vw);
}

#contactDetails.show {
    opacity: 1;
    transform: translateX(0);
}

#contactDetails.hide {
    transition: none;
    transform: translateX(100vw);
}

#editOverlay:hover .editIcon,
#editOverlay:hover .editText,
#deleteOverlay:hover .editIcon,
#deleteOverlay:hover .editText {
    color: #2AABE2;
    font-weight: 700;
    scale: 1.03;
}

#editOverlay:hover .editIcon,
#deleteOverlay:hover .editIcon {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
}

.addNewContactDiv:hover {
    border: 1px solid #a89a9a;
}

.addNewContactDiv:focus-within,
.addNewContactDiv:focus-within:hover {
    border: 1px solid #29abe2 !important;
}

.addNewContactDiv.input-error,
.addNewContactDiv.input-error:focus-within,
.addNewContactDiv.input-error:hover,
.addNewContactDiv.input-error:focus-within:hover {
    border: 1px solid #e74c3c !important;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#newContactName,
#newContactMail,
#editContactName,
#editContactMail {
    border: unset !important;
}


@media (max-width: 1440px) {

    .contactList {
        width: 100vw;
        padding: 0;
        display: flex;
        justify-content: space-between;
        /* justify-content: center; */
    }

    .person {
        width: 100%;
    }



     .namesDetails {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .contactHeadlineMobile {
        display: block;
        margin-top: 120px;
    }

    .headlineMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .separatingLineMobile {
        width: 7rem;
        height: 3px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background-color: #29abe2;
    }

    .showArrowMobile {
        display: block;
        position: fixed;
        width: 24px;
        height: auto;
        top: 120px;
        left: 80%;
    }

    .editContactBtnMobile,
    .addNewContactButtonMobile {
        margin-right: 16px;
        display: block;
        position: sticky;
        background-color: #293647;
        height: 60px;
        width: 60px;
        border-radius: 10rem;
        top: 80%;
        left: 85%;
    }


    .editOverlayMobile {
        width: 100px;
        height: 200px;
        background-color: #404447;
    }

   
    .contactIcons,
    .cancel-button,
    .close,
    .contactLogo,
    .backgroundNewContactButton,
    .addNewContactButton,
    .contactHeadline,
    .closeDiv {
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .newContactMobile {
        margin: auto;
        height: 28px;
    }

    .dotted {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 2rem;
        margin: 3px;
        margin-right: auto;
        margin-left: auto;
    }

    .editContact-Overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .editDeleteOverlayMobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
        width: 116px;
        height: 110px;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        bottom: 100px;
        right: 20px;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        z-index: 5;
    }

    .mobile {
        height: 40px;
        width: 96px;
        padding-left: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    .mobile:hover{
        cursor: pointer;
    }

    .editDivMobile {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newContactOverlay,
    .editContactOverlay {
        /*position: absolute;*/
        /* top: 100px; */
        /* height: 30rem; */
        /*height: 60%;*/
        /*width: 10rem;*/
        height: 760px;
        width: 396px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headDiv-wrapper{
        bottom: 0;
        padding-top: 24px;
        width: 348px; 
        gap: 40px;   
    }

    .headDiv-wrapper-newContact{
        bottom: 0;
        padding-top: 24px;
        width: 348px;
        display: flex;
        flex-direction: column; 
        gap: 15px;   
    }

    .headDiv {
        width: 100%;
        height: 351px;
        padding: 0;
        margin-top: 0;
        display: flex;
        justify-content: start;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .closeMobile-wrapper{
        display: flex;
        justify-content: flex-end;

    }
    .closeMobile {
        font-size: 24px;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items:start;
        /*margin-bottom: 50px;*/
        cursor: pointer;
    }

    .mobile-headline{
        padding-top: 30px;
    }

    .add-contact {
        font-size: 47px;
    }

    .addTastText {
        font-size: 20px;
    }

    .line {
        height: 2px;
        width: 90px;
        margin-bottom: 40px;
    }

    .editDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(760px - 351px);
        
        /*width: 20rem;*/
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: ffffff;
    }

    .editDiv-addContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(760px - 351px);
        /*width: 20rem;*/
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: ffffff;
    }

    .profilDiv {
        width: 364px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        left: 0;
        padding-top: 33px;
      
    }

    .profilDiv-addContacts {
        width: 364px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        left: 0;
        padding-top: 33px;
      
    }

    /*.add-new-contact-inputs{
        height: 153px;
        width: 364px;
        gap: 15px;
    }*/

    .profileInitials{
        left: 0;
        top: -60px;    
    }

    .profileInitials-addContacts{
        left: 0;
        top: -60px;    
    }
    /*.profileImg {
        top: -60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }*/

    .accept{
        height: 51px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .accept-addContact{
        height: 51px;
        margin-top: 30px;
        justify-content: center;
    }

    .add-new-contact-inputs {
        height: 171px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .addNewContactDiv {
        width: 364px;
        height: 41px
    }

    .addNewContact {
        /*width: 12rem;*/
        height: 2.2rem;
        font-size: 20px;
    }

    .addNewContactIcon {
        width: 24px;
        height: 24px;
        /*padding-left: 4px;
        padding-right: 4px;*/
    }

    .create-button {
        /*margin-bottom: 60px;*/
        font-size: 21px;
        padding: 8px !important;
        height: 100%;
    }

    .hide-button{
        height: 100%;
        width: 82px;
    }
    
    .hide-button-addContact{
        height: 100%;
        width: 82px;
        display: none;
    }

    .clear-button {
        /*margin-bottom: 60px;*/
        height: 100%;
        font-size: 21px;
        padding: 8px !important;
    }
   
  
}
@media (max-width: 1008px) {
    .main-content {
        display: block !important;
    }

    .addNewContactButtonMobile {
        display: block !important;
    }
}

@media (max-width: 700px) {
    .initialOverlay {
        margin-right: 20px;
        width: 70px;
        height: 70px;
        font-size: 35px;
    }

    .infoName {
        font-size: 1.5rem;
    }

    .showArrowMobile {
        left: 75%;
    }
}

@media (max-width: 630px) {
    .details {
        margin-left: auto;
        margin-right: auto;;
    }

    .infoName {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {


    .person-details {
        padding-left: 0;
        padding-right: 0;
    }


    .contact-name {
        font-size: 16px;
    }


    .mail {
        font-size: 12px;
    }


    .addNewContactButton {
        padding-left: 4px;
        padding-right: 4px;
        
    }
}
