@media (max-width: 1440px) {
    .active{
        background-color: rgb(246, 247, 248);
    }
    .main-content{
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contactList {
        width: 100vw;
        padding: 0;
    }

    #contactContent{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .person {
        width: 400px;
    }

     .namesDetails {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .contactHeadlineMobile {
        display: block;
        margin-top: 120px;
    }

    .headlineMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .separatingLineMobile {
        width: 7rem;
        height: 3px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background-color: #29abe2;
    }

    .showArrowMobile {
        display: block;
        position: fixed;
        width: 24px;
        height: auto;
        top: 120px;
        right: 10%;
        cursor: pointer;
    }

    .editContactBtnMobile,
    .addNewContactButtonMobile {
        margin-right: 16px;
        display: block;
        position: sticky;
        background-color: #293647;
        height: 60px;
        width: 60px;
        border-radius: 10rem;
        bottom: 3%;
        left: 91%;
    }

    .editOverlayMobile {
        width: 100px;
        height: 200px;
        background-color: #404447;
    }

    .contactIcons,
    .cancel-button,
    .close,
    .contactLogo,
    .backgroundNewContactButton,
    .addNewContactButton,
    .contactHeadline,
    .closeDiv {
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .newContactMobile {
        margin: auto;
        height: 28px;
    }

    .dotted {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 2rem;
        margin: 3px;
        margin-right: auto;
        margin-left: auto;
    }

    .editContact-Overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .editDeleteOverlayMobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: white;
        gap: 8px;
        width: 116px;
        height: 110px;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        bottom: 100px;
        right: 20px;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        z-index: 5;
    }

    .mobile {
        height: 40px;
        width: 96px;
        padding-left: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .mobile:hover{
        cursor: pointer;
    }

    .editDivMobile {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newContactOverlay,
    .editContactOverlay {
        height: 760px;
        width: 396px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headDiv-wrapper{
        bottom: 0;
        padding-top: 24px;
        width: 348px;
        gap: 40px;
    }

    .headDiv-wrapper-newContact{
        bottom: 0;
        padding-top: 24px;
        width: 348px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .headDiv {
        width: 100%;
        height: 351px;
        padding: 0;
        margin-top: 0;
        display: flex;
        justify-content: start;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .closeMobile-wrapper{
        display: flex;
        justify-content: flex-end;

    }

    .closeMobile {
        font-size: 24px;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items:start;
        cursor: pointer;
    }

    .mobile-headline{
        padding-top: 30px;
    }

    .add-contact {
        font-size: 47px;
    }

    .addTastText {
        font-size: 20px;
    }

    .line {
        height: 2px;
        width: 90px;
        margin-bottom: 40px;
    }

    .editDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(760px - 351px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: ffffff;
    }

    .editDiv-addContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(760px - 351px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: ffffff;
    }

    .profilDiv {
        width: 364px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        left: 0;
        padding-top: 33px;
    }

    .profilDiv-addContacts {
        width: 364px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        left: 0;
        padding-top: 33px;
    }

    .profileInitials{
        left: 0;
        top: -60px;
    }

    .profileInitials-addContacts{
        left: 0;
        top: -60px;
    }

    .accept{
        height: 51px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .accept-addContact{
        height: 51px;
        margin-top: 30px;
        justify-content: center;
    }

    .add-new-contact-inputs {
        height: 171px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .addNewContactDiv {
        width: 364px;
        height: 41px
    }

    .addNewContact {
        height: 2.2rem;
        font-size: 20px;
    }

    .addNewContactIcon {
        width: 24px;
        height: 24px;
    }

    .create-button {
        font-size: 21px;
        padding: 8px !important;
        height: 100%;
    }

    .hide-button{
        height: 100%;
        width: 82px;
    }

    .hide-button-addContact{
        height: 100%;
        width: 82px;
        display: none;
    }

    .clear-button {
        height: 100%;
        font-size: 21px;
        padding: 8px !important;
    }
}

@media (max-width: 1008px) {
    .addNewContactButtonMobile {
        display: block !important;
    }
}

@media (max-width: 700px) {
    .infoName {
        font-size: 1.5rem;
    }
   
}

@media (max-width: 640px) {
    .details {
        margin-left: auto;
        margin-right: auto;;
    }

    .infoName {
        font-size: 1rem;
    }

    .namesDetails{
        margin-left: 16px;
    }

     .infoNames{
        font-size: 36px;
    }

    .mail{
        font-size: 16px;
    }

    .contactInformations{
        gap: 30px;
        width: 500px; 
    }

    .contactDetails{
        text-align: start;
        width: 250px;
    }

    .editContactBtn-wrapper{
        padding-right: 25px;
    }
}

@media (max-width: 500px) {
    .person-details {
        padding-left: 0;
        padding-right: 0;
    }

    .contact-name {
        font-size: 16px;
    }

    .mail {
        font-size: 12px;
    }

    .addNewContactButton {
        padding-left: 4px;
        padding-right: 4px;
    }

    .namesDetails{
        margin-left: 16px;
    }

    .headlineMobile>h2{
        font-size: 47px;
    }

    .team{
       font-size: 20px; 
    }

    .initialOverlay{
        height: 80px;
        width: 80px;
        font-size: 27px;
    }

    .separatingLineMobile{
        width: 90px;
    }

    .contact-Information{
        font-size: 20px;
    }

    .contactInformations{
        gap: 20px;
    }
   
}

@media (max-width: 415px){
    .newContactOverlay{
        width: 340px;
    }

    .headDiv-wrapper-newContact{
        width: 300px;
    }

    .add-new-contact-inputs{
        width: 300px;
    }

    .profilDiv-addContacts{
        width: 300px;
    }

    .addNewContactDiv{
        width: 300px;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .addNewContact{
        width: 250px;
    }

    .headDiv-wrapper{
        width: 300px;
    }
}

@media (max-width: 370px){
    .newContactOverlay{
        width: 290px;
    }

    .headDiv-wrapper-newContact{
        width: 260px;
    }

    .add-contact{
        font-size: 32px;
    }

    .addTastText{
        font-size: 16px;
    }

    .profilDiv-addContacts{
        width: 280px;
    }

    .addNewContactDiv{
        width: 270px;
    }

    .addNewContact{
        width: 230px;
    }

    .headDiv-wrapper{
        width: 270px;
    }

    .person{
       max-width: 290px;  
    }

    .agenda-category{
        padding-left: 42px;
    }

    .agenda-line{
        width: 300px;
    }

    .contactDetails{
        width: 200px;
    }
    
    .infoNames{
        font-size: 30px;
    }
}