.myMain {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 14.8rem;
}

.main-content {
    display: flex;
    overflow: hidden;
}

/* Contact List side */
.contactList {
    overflow-y: scroll;
    width: 456px;
    height: 100%;
    background-color: #ffffff;
    padding: 0px 12px 32px 24px;
    box-shadow: 4px 0px 6px 0px #00000014;
    position: relative;
}

.addNewContactButton {
    height: 52px;
    max-width: 352px;
    width: 100%;
    transition: transform 0.2s;
}

.addNewContactButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 8px -2px;
    transform: translateY(-1px);
}

.editContactBtnMobile,
.contactHeadlineMobile,
.addNewContactButtonMobile {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 21px;
}

.newContact {
    height: 28px;
}

.contact-name {
    font-size: 20px;
}

.background-new-contact-button {
    width: 456px;
    height: 101px;
    position: fixed;
    top: 95px;
    left: 232px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    padding: 15px 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    align-items: center;
    gap: 35px;
    max-width: 352px;
    width: 100%;
}

.person:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.person.active {
    background-color: #293647;
    color: #ffffff;
}

.person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    text-align: start;
}

.initial {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF
}

.mail {
    color: #007CEE;
    text-align: start;
}

.phonenumber {
    color: black;
}

.mail:hover,
.phonenumber:hover {
    font-weight: 400;
}

.mail:hover {
    color: #007CEE;
}

.details {
    background-color: #f6f7f8;
}

.phonenumber:hover {
    color: unset !important;
}

.contactHeadline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    margin-left: 60px;
    padding-bottom: 32px;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}

.separatingLine {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

.namesDetails {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contactInformations {
    display: flex;
    align-items: center;
    gap: 52px;
}

.contact-Information {
    text-align: start;
    height: 74px;
    display: flex;
    align-items: center;
}

.initialOverlay {
    width: 120px;
    height: 120px;
    align-content: center;
    border-radius: 70px;
    color: white;
    font-size: 47px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;

}

.infoNames {
    font-size: 2.5rem;
}

.contactIcons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

#contactContent {
    padding: 101px 24px 0 24px;
}

.edit {
    display: flex;
}

#editOverlay,
#deleteOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.editIcon {
    height: 1.5rem;
    cursor: pointer;
}

.editText {
    color: #2A3647;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
}

.infoBlock-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    margin-bottom: 2rem;
}

h4 {
    text-align: start;
}

/* edit, and add new Contact Overlay */
.newContactOverlay,
.editContactOverlay {
    height: 592px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.headDiv {
    height: 100%;
    width: 467px;
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    background-color: #293647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66px 48px;
}

.contactLogo {
    height: 67px;
    width: 56px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 152px;
    left: 48px;
}

.add-contact {
    font-size: 61px;
    font-weight: bold;
    color: #ffffff;
}

.add-headline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.addTastText {
    font-size: 27px;
    color: #ffffff;
}

.line {
    height: .2rem;
    width: 7rem;
    background-color: #29abe2;
    margin: 16px 0 0 0;
}

.editDiv {
    height: 100%;
    width: 49rem;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #ffffff;
    display: flex;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeDiv {
    display: flex;
    justify-content: end;
    margin: 56px 0;
}

.close {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.profilDiv {
    display: flex;
    flex-direction: column;
}

.profileInitials {
    display: flex;
    padding: 0 83px 0 72px;
    position: relative;
    bottom: 32px;
}

.addNewContactDiv {
    padding: 0px 21px;
    border: solid;
    border-width: 0.06rem;
    border-color: #a6adb3;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 442px;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.add-new-contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.addNewContact {
    border: 0;
    width: 20rem;
    height: 3rem;
    cursor: pointer;
    font-size: 20px;
}

.addNewContact:focus {
    outline: 2px solid #29abe2;
    border-color: #29abe2;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContactIcon {
    height: 24px;
    width: 24px;
}

.clear-button {
    background-color: #ffffff;
    color: #293647;
    border: solid 1px #293647;
    font-weight: 400;
    transition: border 0.1s, color 0.1s, transform 0.1s;
}

.clear-button:hover .save-close {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
    transition: filter 0.1s;
}

.create-button,
.clear-button {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 56px;
    display: flex;
    align-items: center;
}

.create-button {
    font-weight: 700;
    font-size: 21px;
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.accept {
    display: flex;
    justify-content: start;
    gap: 24px;
    margin-top: 48px;
}

.save-close {
    width: 1.5rem;
    height: 1.5rem;
}

.agenda {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.agenda-category {
    text-align: start;
    padding: 17px 36px;
}

.agenda-line {
    max-width: 352px;
    width: 100%;
    border: 1px solid #D1D1D1;
    margin: 8px 0;
}

.edit-contact-overlay-section,
.add-new-contact-section {
    background-color: #00000059;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.profileImg {
    height: 120px;
    width: 120px;
}

#contactDetails {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(100vw);
}

#contactDetails.show {
    opacity: 1;
    transform: translateX(0);
}

#contactDetails.hide {
    transition: none;
    transform: translateX(100vw);
}

#editOverlay:hover .editIcon,
#editOverlay:hover .editText,
#deleteOverlay:hover .editIcon,
#deleteOverlay:hover .editText {
    color: #2AABE2;
    font-weight: 700;
    scale: 1.03;
}

#editOverlay:hover .editIcon,
#deleteOverlay:hover .editIcon {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.input-error {
    border: 2px solid #e74c3c;
}

@media (max-width: 1440px) {
    .contactList {
        width: 60%;
        height: 100%;
    }

    .contactHeadlineMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 120px;
        margin-left: 20px;
    }

    .addNewContactButtonMobile,
    .editContactBtnMobile {
        display: block;
        position: absolute;
        background-color: #293647;
        position: fixed;
        height: 60px;
        width: 60px;
        border-radius: 10rem;
        bottom: 120px;
        
    }

    .addNewContactButtonMobile {
        left: 350px;
    }

    .editContactBtnMobile {
        right: 12px;
    }

    .cancel-button,
    .close,
    .contactLogo,
    .addNewContactButton,
    .contactHeadline {
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .separatingLineMobile {
        width: 7rem;
        height: 3px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background-color: #29abe2;
    }

    .showArrowMobile {
        display: block;
        position: fixed;
        width: 24px;
        height: auto;
        top: 120px;
        right: 24px;
    }

    .newContactMobile {
        margin: auto;
        height: 28px;
    }

    .dotted {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 2rem;
        margin: 3px;
        margin-right: auto;
        margin-left: auto;
    }

    .editDeleteOverlayMobile {
        position: fixed;
        display: block;
        width: 120px;
        height: 110px;
        box-shadow: 1px 1px 2px -6px rgba(0, 0, 0, 0.51);
        -webkit-box-shadow: 1px 1px 26px -6px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: 2px 29px 26px -6px rgba(192, 133, 133, 0.51);
        bottom: 120px;
        right: 120px;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    .editDivMobile {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newContactOverlay,
    .editContactOverlay {
        height: 50rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headDiv {
        margin-top: 0;
        display: flex;
        justify-content: start;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 0;
    }

    .closeMobile {
        width: 16px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 100px;
    }

    .editDiv {
        width: 29rem;
        /* margin-left: auto;
        margin-right: auto; */
        border-top-right-radius: 0;
        border-bottom-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        background-color: aquamarine;
    }

    .profilDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .profileInitials,
    .profileImg {
        position: relative;
        top: -32px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .addNewContactDiv {
        margin-bottom: 8px;
    }
}

@media (max-width: 1008px) {
    .main-content {
        display: flex !important;
    }
}