.main-content {
     position: absolute;
    display: flex;
    overflow: hidden;
}

/* Contact List side */
.contactList {
    overflow-y: scroll;
    width: 456px;
    height: 100%;
    background-color: #ffffff;
    padding: 0px 12px 32px 24px;
    box-shadow: 4px 0px 6px 0px #00000014;
    position: relative;
}

.closeMobile,
.editContactBtnMobile,
.contactHeadlineMobile,
.addNewContactButtonMobile {
    display: none;
}

.newContact {
    height: 28px;
}

.contact-name {
    font-size: 20px;
}

.person {
    padding: 15px 24px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    align-items: center;
    gap: 35px;
    max-width: 352px;
    width: 100%;
}

.person:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.person.active {
    background-color: #293647;
    color: #ffffff;
}

.person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    text-align: start;
}

.initial {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF
}

.mail {
    color: #007CEE;
    text-align: start;
}

.phonenumber {
    color: black;
}

.mail:hover,
.phonenumber:hover {
    font-weight: 400;
}

.mail:hover {
    color: #007CEE;
}

.details {
    background-color: #f6f7f8;
    margin-top: 8px;
}

.phonenumber:hover {
    color: unset !important;
}

.contactHeadline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
    margin-left: 60px;
    padding-bottom: 32px;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}

.separatingLine {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

.namesDetails {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 21px;
}

.contactInformations {
    display: flex;
    align-items: center;
     gap: 52px;
}

.contact-Information {
    text-align: start;
    height: 74px;
    display: flex;
    align-items: center;
}

.initialOverlay {
    width: 120px;
    height: 120px;
    align-content: center;
    border-radius: 70px;
    color: white;
    font-size: 47px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000005E;
}

.infoNames {
    font-size: 2.5rem;
}

.contactIcons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

#contactContent {
    padding: 101px 24px 0 24px;
}

.edit {
    display: flex;
}

#editOverlay,
#deleteOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.editIcon {
    height: 1.5rem;
    cursor: pointer;
}

.editText {
    color: #2A3647;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
}

.infoBlock-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    margin-bottom: 2rem;
}

h4 {
    text-align: start;
}

/* edit, and add new Contact Overlay */
.newContactOverlay,
.editContactOverlay {
    height: 592px;
    width: 1212px;
    z-index: 1000;
    display: flex;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.headDiv {
    height: 100%;
    width: 467px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #293647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 35px;
}

.headDiv-wrapper{
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 34px;

}

.headDiv-wrapper-newContact{
    bottom: 0;
    padding-top: 24px;
    width: 371px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactLogo-wrapper{
    width: 361px;
    height: auto;
}

.contactLogo {
    height: 67px;
    width: 54px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 152px;
    left: 48px;
}

.add-contact {
    font-size: 61px;
    font-weight: bold;
    color: #ffffff;
}

.headline-wrapper{
    width: 361px;
    height: 89px;
}
.add-headline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.addTastText {
    font-size: 27px;
    color: #ffffff;
}

.line {
    height: .2rem;
    width: 7rem;
    background-color: #29abe2;
    margin: 16px 0 0 0;
}

.editDiv {
    height: 100%;
    width: calc(1212px - 453px);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
}

.editDiv-addContact {
    height: 100%;
    width: calc(1212px - 453px);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
}

.closeDiv {
    display: flex;
    justify-content: end;
    margin-bottom: 48px ;
}

.close {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.close-wrapper{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-wrapper:hover{
    background-color: #857f7f56;
    border-radius: 50%;
}

.profilDiv {
    width: 422px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 62px;
    left: calc(742px - 453px);
}

.profilDiv-addContacts {
    width: 422px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 70px;
    left: calc(742px - 467px);
}

.profileInitials {
    height: 120px;
    width: 120px;
    display: flex;
    position: relative;
    top: 204px;
    left: calc(550px - 453px)
}

.profileInitials-addContacts {
    height: 130px;
    width: 130px;
    display: flex;
    position: relative;
    top: 204px;
    left: calc(550px - 467px);
}

.addNewContactDiv {
    padding: 0px 21px;
    border: solid;
    border-width: 0.06rem;
    border-color: #d1d1d1;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.add-new-contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.addNewContact {
    border: 0;
    width: 20rem;
    height: 3rem;
    cursor: pointer;
    font-size: 20px;
}

.addNewContact:focus {
    outline: 2px solid #29abe2;
    border-color: #29abe2;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContactIcon {
    height: 24px;
    width: 24px;
}

.save-close {
    width: 1.5rem;
    height: 1.5rem;
}

.agenda {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.agenda-category {
    text-align: start;
    padding: 17px 36px;
}

.agenda-line {
    width: 352px;
    border: 1px solid #D1D1D1;
    margin: 8px 0;
}

.edit-contact-overlay-section,
.add-new-contact-section {
    background-color: #00000059;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profileImg {
    height: 120px;
    width: 120px;
}

.profileImg-addContacts {
    height: 130px;
    width: 130px;
}
.editContactBtn-wrapper{
    width: 100%;
    position: fixed;
    bottom: 18%;
    padding-right: 20px;
}

#contactDetails {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(100vw);
}

#contactDetails.show {
    opacity: 1;
    transform: translateX(0);
}

#contactDetails.hide {
    transition: none;
    transform: translateX(100vw);
}

#editOverlay:hover .editIcon,
#editOverlay:hover .editText,
#deleteOverlay:hover .editIcon,
#deleteOverlay:hover .editText {
    color: #2AABE2;
    font-weight: 700;
    scale: 1.03;
}

#editOverlay:hover .editIcon,
#deleteOverlay:hover .editIcon {
    filter: brightness(0) saturate(100%) invert(48%) sepia(83%) saturate(416%) hue-rotate(152deg) brightness(102%) contrast(97%);
}

.addNewContactDiv:hover {
    border: 1px solid #a89a9a;
}

.addNewContactDiv:focus-within,
.addNewContactDiv:focus-within:hover {
    border: 1px solid #29abe2 !important;
}

.addNewContactDiv.input-error,
.addNewContactDiv.input-error:focus-within,
.addNewContactDiv.input-error:hover,
.addNewContactDiv.input-error:focus-within:hover {
    border: 1px solid #e74c3c !important;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#newContactName,
#newContactMail,
#editContactName,
#editContactMail {
    border: unset !important;
}

.succesfully-Overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

}
.succesfullyOverlay {
    width: 326px; 
    height: 74px;
    border-radius: 20px;
    background-color: #2A3647;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    position: relative;
    margin-left: 250px;
    margin-top: 450px;
}
.slide{ 
    transition: 1s;
    transform: translateX(-5000px);
}