@media (max-width: 1439px) {

    .sidebar-links-content {
        padding: unset;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar-links-content:hover {
        transform: translateY(-2px);
    }

    #sidebar-board {
        order: 2;
    }

    #sidebar-add-task {
        order: 3;
    }

    #sidebar-contacts {
        order: 4;
    }

    .sidebar-legal-stuff {
        display: none;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-links-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
        gap: unset;
    }

    .sidebar {
        height: 80px;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 0;
        position: fixed;
        z-index: 1;
    }

    .sidebar-links {
        height: 76px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        gap: 4px;
        line-height: 120%;
        width: 80px;
    }

    .sidebar-links.active {
        border-radius: 15px;
    }

    .impressum-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    header {
        position: unset;
    }

    .header-content {
        height: 80px;
        padding: 16px 20px;
        position: fixed;
        top: 0;
        z-index: 20;
    }

    .header-content>p {
        display: none;
    }

    .header-user img {
        display: none;
    }

    .header-user {
        padding-right: 0;
    }

    .user {
        height: 40px;
        width: 40px;

        font-size: 12px;
        font-weight: 700;

    }

    .logo-responsive {
        display: unset;
        width: 32px;
        height: 40px;
        overflow: unset;
    }

    .main-content {
        padding: 0 16px;
        top: 0;
        left: 0;
    }

    .logout-overlay-content {
        height: auto;
        top: 80px;
    }

    .help-mobil {
        height: 46px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;

        p {
            color: #FFFFFF;
        }
    }

    .help-mobil:hover {
        cursor: pointer;
        background-color: #102542;
    }

}

@media (max-width: 1008px) {
    .main-content {
        position: unset;
        overflow: unset;
    }

    .add-task-no-scroll {
        overflow: hidden;
    }
}

@media (max-width: 340px) {
    .sidebar-links-container {
        padding: 0 12px;
    }
}