.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 96px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
}

.logo-responsive {
    display: none;
}

.header-content>p {
    font-size: 20px;
    color: #293647;
    font-weight: 500;
    padding: 0 0 0 340px;
}

.header-user {
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 1rem;
    font-size: 20px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    font-size: 1.25rem;
    background: white;
    color: #2aabe2;
}

.user:hover {
    cursor: pointer;
    background-color: #D1D1D1;
}

.sidebar {
    position: sticky;
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #293647;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0;
}

.sidebar-logo {
    margin-bottom: 96px
}

.sidebar img {
    z-index: 10;
    height: 120px;
    width: 100px;
}

header {
    position: fixed;
}

.sidebar-links-section,
.sidebar-legal-stuff {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-legal-stuff {
    gap: 4px;
}

.privacy-legal:hover {
    color: #2aabe2 !important;
}

.sidebar-links,
.sidebar-legal-stuff-links {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #a3a7ab;
    height: 46px;
    transition: transform 0.2s;
}

.sidebar-legal-stuff-links:hover {
    transform: translateX(2px);
    font-weight: 700;
}

.sidebar-links img {
    width: 25px;
    height: 25px;
}

.sidebar-links:hover {
    background-color: #2A3D58;
    color: #a3a7ab;
    cursor: pointer;
    font-weight: 400;
}

.sidebar-links-content {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s;
    width: 100%;
    height: 100%;
    padding-left: 56px;
}

.sidebar-links-content:hover {
    transform: translateX(2px);
}

.help-icon:hover {
    cursor: pointer;
    height: 22px;
    width: 22px;
    transition: 0.3s;
}

.logout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 1;

}

.logout-overlay-content {
    position: absolute;
    top: 96px;
    right: 20px;
    height: 158px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #293647;
    z-index: 20;
}

.section1 {
    height: 46px;
    width: 90%;
    /*color: #FFFFFF;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1>p {

    color: #FFFFFF;
}

.section1:hover {
    cursor: pointer;
    background-color: #102542;
}

.section1>a {
    text-decoration: none;
    color: #FFFFFF;
}

.section1:hover>a {
    cursor: pointer;
    background-color: #102542;
    text-decoration: none;
    color: #FFFFFF;
}

.help-mobil {
    display: none;
}

.sidebar-links.active,
.sidebar-legal-stuff-container.active {
    background-color: #091931;
    color: #fff;
}

.sidebar-legal-stuff-links {
    /*padding-left: 56px;*/
}

.sidebar-links.active img {
    filter: brightness(0) invert(1);
}

.sidebar-links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    scroll-behavior: smooth;
    line-height: 120%;
}

body {
    background-color: #F6F7F8 !important;
    text-align: center;
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/inter-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 48px 0 16px 0;
}

a {
    text-decoration: none;
    color: #BEBEBE;
    opacity: 1;
}

a:hover {
    color: #2AABE2;
    font-weight: bold;
}

.d-none,
.hidden {
    display: none !important;
}

.input-error {
    border: 2px solid #e74c3c !important;
}

.checkbox.input-error {
    outline: 2px solid #e74c3c;
    border-color: #e74c3c !important;
}

input:focus,
input#add-task-input3:focus {
    outline: none;
    box-shadow: none;
    border: none !important;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background: url('/assets/img/icon/checkbox.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.checkbox:checked {
    background: url('/assets/img/icon/checked_checkbox.png') no-repeat center center;
    background-size: contain;
}

.contentspace-html {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-content {
    position: fixed;
    top: 96px;
    left: 232px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

@media (max-width: 1439px) {

    .sidebar-links-content {
        padding: unset;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar-links-content:hover {
        transform: translateY(-2px);
    }

    #sidebar-board {
        order: 2;
    }

    #sidebar-add-task {
        order: 3;
    }

    #sidebar-contacts {
        order: 4;
    }

    .sidebar-legal-stuff {
        display: none;
    }

    .sidebar-logo {
        display: none;
    }

    .sidebar-links-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
        gap: unset;
    }

    .sidebar {
        height: 80px;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 0;
        position: fixed;
        z-index: 1;
    }

    .sidebar-links {
        height: 76px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        gap: 4px;
        line-height: 120%;
        width: 80px;
    }

    .sidebar-links.active {
        border-radius: 15px;
    }

    .impressum-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    header {
        position: unset;
    }

    .header-content {
        height: 80px;
        padding: 16px 20px;
        position: fixed;
        top: 0;
        z-index: 20;
    }

    .header-content>p {
        display: none;
    }

    .header-user img {
        display: none;
    }

    .header-user {
        padding-right: 0;
    }

    .user {
        height: 40px;
        width: 40px;

        font-size: 12px;
        font-weight: 700;

    }

    .logo-responsive {
        display: unset;
        width: 32px;
        height: 40px;
        overflow: unset;
    }

    .main-content {
        padding: 0 16px;
        top: 0;
        left: 0;
    }

    .logout-overlay-content {
        height: auto;
        top: 80px;
    }

    .help-mobil {
        height: 46px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;

        p {
            color: #FFFFFF;
        }
    }

    .help-mobil:hover {
        cursor: pointer;
        background-color: #102542;
    }

}

@media (max-width: 1008px) {
    .main-content {
        position: unset;
        overflow: unset;
    }

    .add-task-no-scroll {
        overflow: hidden;
    }
}

@media (max-width: 340px) {
    .sidebar-links-container {
        padding: 0 12px;
    }
}