/*Board style*/
.header-position {
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

.header-space {
    height: 79.5px;
    width: 100%;
}

.board-header {
    height: 73px;
    width: 87%;
}

.board-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-header-content>h1 {
    padding: 0;
}

.board-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.search-form-board {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    z-index: 100;
}

.addTaskBtn>img {
    height: 18.67px;
    width: 18.67px;
}

.text-allign {
    text-align: start;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.padding-priority {
    padding-left: 18px;
}

.input-find-Task {
    max-width: 312px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D1D1D1;
    position: relative;
}

.peoples-info .initials {
    background-color: #2AABE2;
    color: white;
    font-size: 16px;
}

.no-padding-input {
    padding-right: 0 !important;
    padding-left: 16px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.input-find-Task>input {
    font-size: 20px;
    border: #FFFFFF;
    height: 48px;
    width: 366px;
    border-radius: 10px;
    padding-left: 16px;

}

.search-icon {
    height: 32px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    border-left: 1px solid #D1D1D1;
    padding-left: 16px;
}

.search-icon img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    background-color: #EEEEEE;
    border-radius: 50%;
}

.categorys {
    height: 79.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.categorys-wrapper {
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 26px;
    padding-left: 50px;
    padding-right: 50px;
}

.category-content-responsive {
    display: none !important;
}