@media (max-width: 1439px) {
    .main-content {
        top: 80px !important;
    }

    .overlay-content-render form {
        width: 100%;
    }

    .overlay-content-render form::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
    }

    .moveTo {
        display: block;
        cursor: pointer;
    }

    .selection {
        display: block;
    }

    .overlay-titel>h1 {
        padding-top: 30px;
    }
}

@media (max-width: 1233px) {
    .header-space {
        display: none;
    }

    .board-header-content {
        position: relative;
    }

    .board-header-content>h1 {
        font-size: 38px;
    }

    .input-find-Task {
        position: absolute;
        top: 100px;
        left: 0;
        max-width: 396px;
        width: 100%;
    }

    .categorys-wrapper {
        flex-direction: column;
        padding: 0 0 0 16px;
    }

    .drag-area {
        flex-direction: row;
        align-items: center;

    }

    .board-position {
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        padding: 0;
    }

    .board-form{
        gap: 10px;
    }
    .categorys {
        display: none;
    }

    .category-content-responsive {
        display: flex !important;
        height: unset;
        align-items: center;
        width: 100%;
    }

    .category-content-responsive>h4 {
        font-size: 27px;
        font-weight: 700;
    }

    .drag-area {
        min-height: unset;
        width: 100%;
        overflow: auto;

        padding: 16px 0;
    }

    /*Muss evtl. rückgängig gemacht werden*/
    .drag-area::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    .header-position {
        padding-top: calc(128px - 80px)
    }

    .board-header {
        width: 100%;
    }

    .addTaskBtn span {
        display: none;
    }

   

    .board {
        overflow: auto;
        max-height: calc(100vh - 208px);
    }

    .no-result {
        height: 80px;
        width: 100px;
        border-radius: 5px;
        z-index: 10;
    }

    .priority-img {
        height: 7px;
        width: 17px;
    }
}

@media (max-width: 1008px) {
    .board {
        margin-top: 80px
    }
}

@media(max-width: 550px) {
    .overlay-content-render {
        width: 95%;
    }
}

@media(max-width: 470px) {
    .overlay-position {
        gap: 16px;
    }

    .overlay-titel>h1 {
        font-size: 36px;
        padding-top: 12px;
    }

    .task-type>p {
        font-size: 16px;
    }

    .p-Tag {
        font-size: 16px;
    }

    .selection {
        top: 114.8px;
    }
    
    .addTaskBtn {
        width: 100px !important;
        height: 40px;
    }
}

@media (max-height: 950px) {
    .overlay-content-render form {
        max-height: 600px;
    }

    .overlay-section,
    .overlay-position {
        padding: 20px 40px;
    }

    .overlay-position {
        max-height: 748px;
    }

    .selection {
        top: 104px;
    }
}

@media (max-height: 815px) {
    .overlay-content-render form {
        max-height: 500px;
    }

    .overlay-position {
        max-height: 648px;
    }
}

@media (max-height: 720px) {
    .overlay-content-render form {
        max-height: 400px;
    }

    .overlay-position {
        max-height: 548px;
    }
}

@media (max-height: 610px) {
    .overlay-content-render form {
        max-height: 300px;
    }

    .overlay-position {
        max-height: 448px;
    }
}

@media (max-height: 550px) {
    .overlay-position {
        padding: 24px;
    }

    .selection {
        top: 108px;
        left: 24px;
    }
}

@media (max-height: 515px) {
    .overlay-content-render form {
        max-height: 200px;
    }

    .overlay-position {
        max-height: 348px;
    }
}

@media (max-height: 415px) {
    .overlay-content-render form {
        max-height: 100px;
    }

    .overlay-position {
        max-height: 248px;
    }
}

@media (max-width: 400px) {
    .overlay-section {
        padding: 16px;
    }
}